nav{
    background:rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    top:3.5rem ;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 0.8rem;
    border-radius: 2rem;
    backdrop-filter: blur(6px);

}
nav a{
    background: transparent;
    padding: 0.1rem 0.4rem;
    display: flex;
    color: var(--color-light);
    font-size: 1.3rem;
}
nav a:hover{
    scale: 120%;
}
nav a.active{
    color: var(--color-white);
}
.cell{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.cell >small{
    font-size: small;
}
/*-----------------media queries(small devices)---------------------*/
@media screen and (max-width : 600px) {
    nav{
        padding-top: 1rem;
        top: 1.2rem;
        border-radius: 10px;
        scale: 80%;
        margin-left: -2.7rem;
    }
}